body {
  background-color: #d7efff;
  overflow-x: hidden;
}
#drawing-canvas {
  position: absolute;
  background-color: #000000;
  top: 0px;
  left: 0px;
  z-index: 3000;
  touch-action: none;
}

/* main {
  width: 289px;
  transform: translate(0px, -944px);
  position: absolute;
  left: 43%;
} */
