html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#drawing-canvas {
  position: absolute;
  background-color: #000000;
  top: 0px;
  left: 0px;
  z-index: 3000;
  touch-action: none;
}
